{% extends 'base.html' %}
{% load static %}
{% block title %}Список заказов{% endblock %}
{% block content %}

<div class="wrapper-main">
    
    <div class="page-header">
        <h2>Лист заказов</h2>
        <div class="copy"> 
            <button class="copycsv" onclick="exportCSV()">
                Скачать
            </button>
        </div>
    </div>

    <div class="main-back">
        <table id="ordersTable" class="table">
            <thead>
                <tr>
                    <th style="width: 10%;">ID пользователя</th>
                    <th style="width: 25%;">Дата</th>
                    <th style="width: 15%;">Номер заказа</th>
                    <th style="width: 25%;">Статус</th>
                    <th style="width: 10%;">Заказ</th>
                    <th style="width: 12%;">Цена</th>
                    <th style="width: 3%;">Действие</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</div>

<script>
$(document).ready(function () {
        function updateOrdersData() {
            $.ajax({
                url: '{% url "get_orders_data" %}',
                type: 'GET', 
                dataType: 'json',
                success: function (response) {
                    $('#ordersTable tbody').empty();
                    response.data.forEach(function (order) {
                        $('#ordersTable tbody').append(`
                        
                            <tr>
                                <a href="/orders/${order.order_number}/edit/">
                                <td style="width: 10%;">#${order.userid}</td>
                                <td style="width: 25%;">${order.created_at}</td>
                                <td style="width: 15%;">${order.order_number}</td>
                                <td style="width: 15%;">${order.status}</td>
                                <td style="width: 25%;">${order.items}</td>
                                <td style="width: 10%;">${order.total_price}</td>
                        
                                <td style="width: 3%;">
                                    <a href="/orders/${order.order_number}/edit/">
                                        <img src="../static/icons/eye-solid.svg" alt="avatar">
                                    </a>
                                </td>
                                
                                </a>
                            </tr>
                        `);
                    });
                },
                error: function (error) {
                    console.log('Error:', error); 
                }
            });
        }

        updateOrdersData();

        setInterval(updateOrdersData, 3000);
    });


    function exportCSV() {
        window.location.href = '{% url "export-csv" %}';
    }
</script>

{% endblock %}
