{% extends 'base.html' %}
{% block title %}Product List{% endblock %}

{% block content %}
{% load static %}
    <div class="wrapper-main">

        <div class="page-header">
            <h2>Меню</h2>
            <div class="copy"> 
                <button class="copycsv">
                    <a href="{% url 'product_create' %}">
                        Добавить продукт
                    </a>
                </button>
            </div>
        </div>

        <div class="main-back">
            <table id="ordersTable">
                <thead>
                    <tr>
                        <th style="width: 3%;">#</th>
                        <th style="width: 35%;">Товар</th>
                        <th style="width: 12%;">Категория</th>
                        <th style="width: 20%;">Количество</th>
                        <th style="width: 20%;">Цена</th>
                        <th style="width: 10%;">Действия</th>
                    </tr>
                </thead>
                <tbody>
                   
                </tbody>
            </table>
        </div>
    </div>


<script>
    $(document).ready(function () {
    function updateProductsData() {
        $.ajax({
            url: '{% url "get_products_data" %}',
            type: 'GET',
            dataType: 'json',
            success: function (response) {
                $('#ordersTable tbody').empty();

                response.data.forEach(function (product) {
                    $('#ordersTable tbody').append(`
                        <tr>
                            <td style="width: 3%;">${product.id}</td>
                            <td style="width: 35%;">${product.name}</td>
                            <td style="width: 12%;">${product.category}</td>
                            <td style="width: 20%;">${product.quantity}</td>
                            <td style="width: 20%;">${product.price} тг</td>
                            <td style="width: 10%;">
                                <a href="/products/${product.id}/edit/">
                                    <img src="../static/icons/eye-solid.svg" alt="avatar">
                                </a>
                            </td>
                        </tr>
                    `);
                });
            },
            error: function (error) {
                console.log('Error:', error); 
            }
        });
    }

    updateProductsData();

    setInterval(updateProductsData, 3000);
});


</script>
{% endblock %}
