{% extends 'base.html' %}
{% block title %}Settings{% endblock %}

{% block content %}
{% load static %}

<main class="settings-container">
    <div class="wrapper-main">
       
        <div class="helper-bot">
            <h2>Installing The Helper</h2>
            <!-- Форма для установки Helper -->
            <form method="post" action="{% url 'set_helper' %}" class="helper-form">
                {% csrf_token %}
                <label for="telegram_username">Helper Telegram Username:</label>
                <input type="text" id="telegram_username" name="telegram_username" required>
                <button type="submit"  class="submit1">Set Helper</button>
            </form>
        </div>
        
    </div>
</main>


{% endblock %}